$mobileMax: "max-width:719px";
$tabletMin: "min-width: 720px";
$tabletMax: "max-width: 979px";
$desktopMin: "min-width: 980px";
$desktopMax: "max-width: 1179px";
$largeMin: "min-width: 1180px";

$purple: #B959E4;




.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.container {
  @extend .cf;
}

.strong {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}
$accent: #B959E4;

.bg-accent {
  background: $accent;
}

a {
  text-decoration: none;
  color: inherit;

}

html, body {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  // -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background: #F7F7F7;
}

*, *:before, *:after{
  box-sizing: border-box !important;
}
img {
  max-width: 100%;
}

div.juxtapose {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

div.jx-slider {
  width: 100%;
  height: 100%;
  position: relative;
  // overflow: hidden;
  cursor: pointer;
    overflow: visible;
}

div.jx-handle {
  position: absolute;
  height: 100%;
  width: 40px;
  cursor: col-resize;
  z-index: 10;
  margin-left: -20px;
}


.vertical div.jx-handle {
  height: 40px;
  width: 100%;
  cursor: row-resize;
  margin-top: -20px;
  margin-left: 0;
}

div.jx-control {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  width: 4px;
  background-color: #D6D6D6;
}

.vertical div.jx-control {
  // height: 3px;
  width: 100%;
  background-color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  background-color: #D6D6D6;
}

div.jx-controller {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 60px;
  width: 4px;
  background-color: #D6D6D6;
  background: $purple;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -23px;
}

.vertical div.jx-controller {
  height: 9px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  top: -3px;
  position: relative;
}

div.jx-arrow {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; 
  width: 0;
  height: 0;
  transition: all .2s ease;
}

.vertical div.jx-arrow {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; 
  width: 0;
  height: 0;
  transition: all .2s ease;
}


div.jx-arrow.jx-left {
  left: 10px;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  border-color: transparent #FFF transparent transparent;
  z-index: 99;
}

div.jx-arrow.jx-right {
  right: 10px;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent #FFF;
}

.vertical div.jx-arrow.jx-left {
  left: 0px;
  top: 2px;
  border-style: solid;
  border-width: 0px 7px 7px 7px;
  border-color: transparent transparent #FFF transparent;
}

.vertical div.jx-arrow.jx-right {
  right: 0px;
  top: initial;
  bottom: 2px;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #FFF transparent transparent transparent;
}

// div.jx-handle:hover div.jx-arrow.jx-left,
// div.jx-handle:active div.jx-arrow.jx-left {
//   left: -1px;
// }

// div.jx-handle:hover div.jx-arrow.jx-right, 
// div.jx-handle:active div.jx-arrow.jx-right {
//   right: -1px;
// }

.vertical div.jx-handle:hover div.jx-arrow.jx-left,
.vertical div.jx-handle:active div.jx-arrow.jx-left {
  left: 0px;
  top: 0px;
}

.vertical div.jx-handle:hover div.jx-arrow.jx-right, 
.vertical div.jx-handle:active div.jx-arrow.jx-right {
  right: 0px;
  bottom: 0px;
}


div.jx-image {
  position: absolute;
  height: 100%;
  display: inline-block;
  top: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}

.vertical div.jx-image {
  width: 100%;
  left: 0;
  top: initial;
}

div.jx-image img {
  height: 100%;
  z-index: 5;
  position: absolute;
  max-height: initial;
  max-width: initial;
}

.vertical div.jx-image img {
  height: initial;
  width: 100%;
}

div.jx-image.jx-left {
  left: 0;
  background-position: left;
}

div.jx-image.jx-left img {
  left: 0;
}

div.jx-image.jx-right {
  right: 0;
  background-position: right;
}

div.jx-image.jx-right img {
  right: 0;
  bottom: 0;
}


.veritcal div.jx-image.jx-left {
  top: 0;
  background-position: top;
}

.veritcal div.jx-image.jx-left img {
  top: 0;
}

.vertical div.jx-image.jx-right {
  bottom: 0;
  background-position: bottom;
}

.veritcal div.jx-image.jx-right img {
  bottom: 0;
}


div.jx-image div.jx-label {
  font-size: 1em;
  padding: .25em .75em;
  position: relative;
  display: inline-block;
  top: 0;
  background-color: #000; /* IE 8 */
  background-color: rgba(0,0,0,.7);
  color: white;
  z-index: 10;
  white-space: nowrap;
  line-height: 18px;
  vertical-align: middle;
}

div.jx-image.jx-left div.jx-label {
  float: left;
  left: 0;
}

div.jx-image.jx-right div.jx-label {
  float: right;
  right: 0;
}

.vertical div.jx-image div.jx-label {
  display: table;
  position: absolute;
}

.vertical div.jx-image.jx-right div.jx-label {
  left: 0;
  bottom: 0;
  top: initial;
}

div.jx-credit {
  line-height: 1.1;
  font-size: 0.75em;
}

div.jx-credit em {
  font-weight: bold;
  font-style: normal;
}


/* Animation */

div.jx-image.transition {
  transition: width .5s ease;
}

div.jx-handle.transition {
  transition: left .5s ease;
}

.vertical div.jx-image.transition {
  transition: height .5s ease;
}

.vertical div.jx-handle.transition {
  transition: top .5s ease;
}

/* Knight Lab Credit */
a.jx-knightlab {
  display: none; 
}

a.jx-knightlab div.knightlab-logo {
  display: inline-block;
  vertical-align: middle;
  height: 8px;
  width: 8px;
  background-color: #c34528;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: -1.25px;
  position: relative;
  cursor: pointer;
}

a.jx-knightlab:hover {
  background-color: #000; /* IE 8 */
  background-color: rgba(0,0,0,.35);
}
a.jx-knightlab:hover div.knightlab-logo {
  background-color: #ce4d28;
}

a.jx-knightlab span.juxtapose-name {
  display: table-cell;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: white;
  font-size: 10px;
  padding-left: 0.375em;
    vertical-align: middle;
    line-height: normal;
}

/* keyboard accessibility */
div.jx-controller:focus,
div.jx-image.jx-left div.jx-label:focus,
div.jx-image.jx-right div.jx-label:focus,
a.jx-knightlab:focus {
  background: #eae34a;
  color: #000;
}
a.jx-knightlab:focus span.juxtapose-name{
  color: #000;
  border: none;
}



header.header {
  height: 60px;
  padding: 10px 0;
  .container {
    
  }
  .logo {
    float: left;
    width: 43px;
  }
  .nd-right-nav {
    // float: right;
  }
}

.container {
  padding: 0 15px;
  width: 100%;
}

.nd-right-nav {
  float: right;
  margin-top: 5px;
  .one {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 16px;
    font-size: 14px;
    &:last-child {
      margin-right: 0;
    }
    img {
      vertical-align: middle;
      // margin-top: -2px;
      width: 30px;
    }
  }
}

.nd-roundimage-wrap {
  img {
    border-radius: 50%;
    overflow: hidden;
  }
}

.gray-link {
  font-size: 14px;
  color: rgba(37,37,37,0.50);
  line-height: 19px;
  &:hover {
    color: rgba(37,37,37,0.75);
  }
}

.nd-switcher {
  // -webkit-backface-visibility: hidden;
  transform:translateZ(0);
  .nd-switch {
    float: right;
  }

  &-label {
    float: left;
  }
  &-wrap {
    .bg-accent {
      padding: 20px 0;
    }
    &:not(.active) {
      // filter: saturate(0);
    }
    &.unactive, &.anim-active, &.anim-unactive {
      .nd-switcher-group {
        pointer-events: none;
      }
    }
    .container {
      padding: 0 15px;
    }
  }
  &-heading {
    /* CLEANER: */
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-transform: uppercase;
  }
  &-status {
    /* Running: */
    font-size: 14px;
    color: rgba(255,255,255,0.60);
    line-height: 19px;

    margin-left: 8px;
  }
  &-group {
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.08);
    .nd-switch {
      float: right;
    }
    &>div{
      padding: 18px 0;
      &:not(:last-child)  {
        border-bottom: 1px solid rgba(0,0,0,0.08);
      }
    }
    .letter {
      width: 24px;
      height: 24px;
      color: white;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      background: #73C4F6;
      padding-top: 3px;
      border-radius: 50%;
      margin-right: 14px;
      vertical-align: top;
      &.green {
        background: #65D470;
      }
    }
    .heading {
      font-weight: bold;
      vertical-align: top;
      line-height: 22px;
      display: inline-block;
    }
    .sub {
      /* Filthy language filt: */
      font-size: 14px;
      color: rgba(37,37,37,0.40);
      line-height: 22px;
      font-weight: 400;
      width: 160px;
    }
  }
  &-edit {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
    a {
      @extend .gray-link;
    }
  }
  .sw-green {

  }
}

.drop-menu {
  .drop-content {
    display: none;
    z-index: 99999;
  }
  .drop-fade {
    display: none;
  }
  &.active {
    .drop-fade {
      display: block;
    }
  }
}


.drop-menu { 
  position: relative;
  &.active {
    .drop-content  {
      display: block;
      position: absolute;
      z-index: 999;
      right: 0;
      width: 220px;
      background: #FFFFFF;
      border: 1px solid rgba(0,0,0,0.12);
      box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
      margin-top: 11px;

      
      .icon{
        &:not(:only-child) {
          margin-right: 8px;
        }
        filter: saturate(0);
        opacity: 0.7;
      }
      &-one {
        /* NOT SPAM: */
        font-weight: bold;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        color: rgba(37,37,37,0.50);
        line-height: 19px;
        padding: 13px 20px 13px 8px;
        &:first-child {
          position: relative;
          &:after, &:before {
            content: '';
            position: absolute;
            background: transparent;
            border: 6px solid transparent;
            z-index: 1000001;
            top: -12px;
            right: 13px;
            border-bottom-color: white;
            z-index: -2;
          }
          &:before {
            top: -11px;
            z-index: -1;
          }
          &:after {
            border-bottom-color: #E0E0E0;
          }
        }

        &:not(:first-child) {
          border-top: 1px solid rgba(0,0,0,0.10)
        }
        span {
          display: inline-block;
          margin-top: 1px;
          vertical-align: middle;
        }
        &:hover {
          background: rgba(0,0,0,0.05);
          cursor: pointer;
          position: relative;
          z-index: 999;
          &:before{
            border-bottom-color: #F2F2F2;
          }
        }
      }
    }
  }
}

.nd-machinelearn {
  padding: 20px 0;
  position: relative;
  img {
    float: left;
  }
  &-descr {
    overflow: hidden;
    margin-top: 8px;
    padding-left: 13px;
    font-size: 16px;
    color: rgba(37,37,37,0.40);
    line-height: 22px;
  }
  .heading {
    font-weight: bold;
  }
  .des {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;  
    font-size: 14px;
    overflow: hidden;
    padding-right: 24px;
    margin-top: 4px;
  }
  .ic-reveal {
    position: absolute;
    top: 40px;
    margin-top: -12px;
    right: 15px;
    filter: saturate(0);
    opacity: 0.6;
  }
  &:hover {
    cursor: pointer;
    .ic-reveal {
      opacity: 1;
    }
  }
  &.active {
    .ic-reveal {
      filter: saturate(1);
      transform: rotate(180deg);
      opacity: 1;
    }
    .des {
      max-height: 200px;
    }
  }
}
.bord-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.nd-switcher-wrap {
  .sub {
    transition: max-height 0.3s ease;
    overflow: hidden;
  }
  .one {
    &.active, &.anim-active {
      .sub {
        max-height: 300px;
      }
    }
    &.unactive,&.anim-unactive {
      .container {filter: saturate(0);}
      .sub {
        max-height: 0px;
      }
    }
  }
}
.nd-switcher-wrap.can-animate {
  
  &.active {
    filter: saturate(1);
  }
  &.unactive {
    filter: saturate(0);
  }
  &.anim-active {
    animation: saturate 0.3s normal forwards ease-in-out;
    pointer-events:none;
  }
  &.anim-unactive {
    animation: saturate 0.3s normal alternate ease-in-out;
    pointer-events:none;
  }
}
.heading span {
  transition: color 0.3s ease-in-out;
}
.unactive .heading span {
  color: rgba(37,37,37,0.40);
}
.nd-switcher-group .one{
  &.active .nd-switch{
    filter: saturate(1);
  }
  &.unactive .nd-switch{
    filter: saturate(0);
  }
  &.anim-active .nd-switch{
    animation: saturate 0.3s normal forwards ease-in-out;
    pointer-events:none;
  }
  &.anim-unactive .nd-switch{
    animation: saturate 0.3s normal alternate ease-in-out;
    pointer-events:none;
  }
}
.nd-switch {
  height: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  input {
    display: none;
  }
  &-el {
    margin-top: 4px;
    background: rgba(0,0,0,0.20);
    border-radius: 38px;
    width: 38px;
    height: 12px;
    position: relative;
    cursor: pointer;
    z-index: 0;
    &:after {
      content: "";
      display: block;
      width: 20px;  
      height: 20px;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: -4px;
      z-index: 2;
      transition: transform 0.3s ease-in-out;
    }
  }
  input:checked {
    & + .nd-switch-el:after {
      transform: translateX(18px);

    }
  }
  &.small {
    transform: scale(0.8);
  }
  &.colored {
    .nd-switch-el {
      background: rgba(91,195,249,0.40);
      &:after {
        background: #5BC3F9;
      }
    }
    &.sw-green .nd-switch-el {
      background: rgba(101,211,111,0.40);
      &:after {
        background: #65D470;
      }
    }
    
  }
}

.off, .on {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in;
}
.off {
  transform: translateY(100%);
  opacity: 0;
}
.on {
  transform: translateY(-100%);
  opacity: 0;
}

.active {
  .on {
    transform: translateY(0);
    opacity: 1;
  }
  .off {
    display: none;
  }
}
.anim-unactive {
  .on {
    display: none;
  }
}
.anim-active {
  .off {
    display: none;
  }
}
.unactive {
  .on {
    display: none;
  }
  .off {
    transform: translateY(0);
    opacity: 1;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  content: "";
  vertical-align: middle;
  &.purple {
    background-image: url(../images/sprite-purple.svg);
    background-position-x: center;
  }
  &.ic-content {
    background-position: center 0px; 
  }
  &.ic-cleaned {
    background-position: center -24px; 
  }
  &.ic-blocked {
    background-position: center -24*2*1px; 
  }
  &.ic-list {
    background-position: center -24*3*1px; 
  }
  &.ic-photos  {
    background-position: center -24*4*1px; 
  }
  &.ic-not-spam {
    background-position: center -24*5*1px; 
  }
  &.ic-unblock {
    background-position: center -24*6*1px; 
  }
  &.ic-options {
    background-position: center -24*7*1px; 
  }
  &.ic-delete {
    background-position: center -24*8*1px; 
  }
  &.ic-reveal {
    background-position: center -24*9*1px; 
  }
  &.ic-comments {
    background-position: center -24*10*1px; 
  }
  &.ic-close {
    background-position: center -24*11*1px; 
  }
}

.btn {
  &.rounded {
    -webkit-appearance:none;
    height: 40px;
    background: white;
    border: 1px solid rgba(185,89,227,0.40);
    border-radius: 40px;
    /* NOT SPAM: */
    font-weight: bold;
    font-size: 14px;
    color: #B959E4;
    text-transform: uppercase;
    line-height: 19px;
    padding: 8px 18px 8px;
    &:hover {
      border: 1px solid #B959E4;
    }
    &.purple {
      background: $purple;
      color: white;
      &:hover {
        background: #C371E8;
        border-color: #C371E8;
      }
    }
  }
  &.purple {
    background: $purple;
    color: white;
    &:hover {
      background: #C371E8;
      border-color: #C371E8;
    }
  }
  &.transparent {
    -webkit-appearance:none;
    height: 40px;
    background: none;
    border: none;
    // border-radius: 40px;
    font-weight: bold;
    font-size: 14px;
    color: #B959E4;
    text-transform: uppercase;
    line-height: 19px;
    font-size: 14px;
    padding: 8px 0px 8px;
  }
  &.white-rounded {
    -webkit-appearance:none;
    height: 50px;
    background: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    line-height: 19px;
    padding: 13px 18px 10px;
    &:hover {
      background: rgba(255,255,255,0.5);
    }
  }
  &.round {
    width: 40px;
    padding: 0;
  }
  &:not(:only-child):not(:last-child){
    margin-right: 10px;
    margin-bottom: 8px;
  }
    
  &:focus {
    outline: 0;
  }
  .icon:not(:only-child) {
    vertical-align: middle;
    margin-right: 4px;
  }
  span {
    vertical-align: middle;
    display: inline-block;
    margin-top: 3px;
  }
}

.colorless {
  filter: saturate(0);
  opacity: 0.75;
  &:hover {
    filter: saturate(1);
    opacity: 1;
  }
}


.white-cont {
  background: white;
}

.nd-tabs {
  white-space: nowrap;
  background: white;
  &-control {
    white-space: nowrap;
    overflow-x: scroll ;
    padding: 0 15px;
    text-align: center;
    &-one {
      // margin-bottom: -1px;
      position: relative;
      z-index: 2;
      display: inline-block;
      // width: 145px;
      padding: 16px 5px;
      cursor: pointer;
      text-align: center;
      border-bottom: 2px solid transparent;
      &:not(:first-child){
        margin-left: 10px;
      }
      span {
        vertical-align: middle;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: rgba(37,37,37,0.50);
        line-height: 19px;
      }
      .icon{
        &:not(:only-child) {
          margin-right: 8px;
        }
        filter: saturate(0);
        opacity: 0.7;
      }
      &.active {
        span {
          color: #B959E4
        }
        .icon {
          filter: saturate(1);
          opacity: 1;
        }
        border-bottom-color: #B959E4;
      }
    }
  }
  .bord-bottom {
    width: 100%;
    top: -1px;
    z-index: 1;
    position: relative;
  }
  &-content {
    &-one {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}



.nd-listimages {
  padding-bottom: 20px;
  // @extend .cf;
  &-one {
    margin: 20px auto 0;
    max-width: 290px;
    display: block;
    position: relative;
    .comments-count {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 80px;
      padding:42px 15px 0;
      background-image: linear-gradient(0deg, rgba(38,38,38,0.60) 0%, rgba(38,38,38,0.00) 100%);
      .icon {
        margin-right: 6px;
      }
      span {
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;
        margin-top: 3px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    img {
      display: block;
    }
  }
}

.sm-full {
  border-top: 1px solid #EAEAEA;
}

.trial-expired {
  overflow: hidden;
  .nd-message {
    display: none;
  }
  #content, header, footer {
    filter: blur(10px);
    pointer-events:none;
    opacity: 0.3;
  }
  .popup-expired {
    text-align: center;
    padding: 50px 20px;
    img {
      width: 86px;
    }
    .btn {
      width: 100%;
      font-size: 16px;
      height: 50px;
      padding-top: 10px;
      margin-bottom: 15px;
    }
    .rounded:not(.purple) {
      background: transparent;
    }
    .exp-heading {
      font-size: 30px; 
      font-weight: bold;
      margin: 25px 3px;
      line-height: 36px;
    }
    .muted {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;
    }
    &-wrap {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      // background: red;
    }
  }
}

.nd-cleaned {
  &-one {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.08);
    &:last-child {
      border-bottom: 0;
    }
    .drop-menu {
      display: none;
    }
    .text {
      white-space: normal;
      margin-top: 5px;
      max-height: 3.2em;
      // overflow: hidden;
    }
    .nd-roundimage-wrap {
      width: 40px;
      float: left;
      margin-right: 15px;
    }
    &-details {
      overflow: hidden;
      .name {
        font-weight: bold;
        font-size: 16px;
        margin-right: 5px;
      }
      .date {
        @extend .muted;
        font-size: 14px;
      }
    }
    &-buttons {
      margin-top: 15px;
      white-space: normal;
      margin-bottom: -8px;
    }
  }
  &-post {
    display: none;
  }
}


.footer {
  padding: 20px 0;
  text-align: center;
  &.normal-footer {
    border-top: 1px solid rgba(0,0,0,0.08);
  }
}
.footer-el {
  font-size: 12px;
  color: rgba(37,37,37,0.40);
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  &:not(:last-child):after {
    content: "\2022";
    margin: 0 8px;
  }

  &:not(:last-child) {
    // margin-right: 16px;
  }
  a:hover {
    color: rgba(0,0,0,0.75);
  }
}
.visible-xs {
  display: block;
}
.hidden-xs {
  display: none;
}
.muted {
  color: rgba(#262626, 0.4);
}

.js-details.active {
  .text {
    max-height: none;
  }
}
.bg-white {
  background: white;
  .header {
    background: white;
  }
}

.nd-email-request {
  background: white url(../images/at.svg) 7px center;
  background-repeat: no-repeat;
  background-size: 159px;
  padding: 20px 0;
  border: 1px solid rgba(0,0,0,0.08);
  margin-bottom: 20px;
  line-height: 22px;
  position: relative;
  .ic-delete {
    position: absolute;
    right: 15px;
    top: 17px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .nd-accent {
    /* Confirm your account: */
    font-weight: bold;
    font-size: 16px;
    color: #B959E4;
    line-height: 22px;
  }
  p {
    @extend .muted;
    margin: 2px 0 0;
    font-size: 14px;
  }
  input {
    /* Rectangle 458: */
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.12);
    /* Your email: */
    width: 100%;
    font-size: 16px;
    // color: rgba(37,37,37,0.40);
    line-height: 20px;
    padding: 14px 20px;
    margin-top: 15px;
    &::placeholder {
      -webkit-font-smoothing:antialiased;
    }
  }
}
h2 {
  font-size: 30px;
  line-height: 30px;
}
.plans-text {
  font-size: 16px;
  line-height: 24px;
  @extend .muted;
}
.nd-price-blocks {
  margin-top: 10px;
  &-one {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    &.green{
      .nd-price-blocks-bg {
        background: url(../images/ic-pattern-1.svg) left 14px top 21px no-repeat, url(../images/ic-pattern-2.svg) right 10px top 10px no-repeat,url(../images/ic-pattern-3.svg) bottom 0px right 0px no-repeat, #65D470;
        .btn {
          color: #65D470;
        }
      }
      .nd-price-blocks-name {
        color: #65D470;
      }
    }
    &.blue{
      .nd-price-blocks-bg {
        background: url(../images/ic-pattern-1.svg) left 14px top 21px no-repeat, url(../images/ic-pattern-2.svg) right 10px top 10px no-repeat,url(../images/ic-pattern-3.svg) bottom 0px right 0px no-repeat, #5BC3F9;
        .btn {
          color: #5BC3F9;
        }
      }
      .nd-price-blocks-name {
        color: #5BC3F9;
      }
    }
  }
  &-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #F7BB60;
  }
  &-bg {
    background: url(../images/ic-pattern-1.svg) left 14px top 21px no-repeat, url(../images/ic-pattern-2.svg) right 10px top 10px no-repeat,url(../images/ic-pattern-3.svg) bottom 0px right 0px no-repeat, #F7BB60;
    color: white;
    padding: 40px 15px 25px;
  }
  &-price {
    .currency {
      font-size: 24px;
      font-weight: bold;
      vertical-align: top;
      -webkit-font-smoothing: antialiased;
      line-height: 24px;
      position: absolute;
      margin-left: -14px;

    }
    .price {
      font-size: 74px;
      font-weight: bold;
      line-height: 58px;
      // letter-spacing: -3px;
    }
    .period {
      font-size: 14px;
      color: #FFFFFF;
      text-transform: uppercase;
      line-height: 19px;
      letter-spacing: 1px;
      font-weight: bold;
      margin-top: 1px;
    }
  }
  p {
    font-size: 16px;
    line-height: 24px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    width: 100%;
    color: #F7BB60;
  }
}

.tcenter {
  text-align: center;
}

.main-part {
  // padding: 0 15px;
}
.nd-got-pp {
  text-align: center;
  margin: 20px 0;
  &-one {
    text-align: center;
    display: block;
    // padding: 20px 0;
    &:nth-last-child(1) {
      display: inline-block;
    }
  }
  .pp {
    width: 137px;
    margin: 20px 0;
  }
  .nd-machinelearn-descr .heading {
    margin-top: 10px;
  }
  a {
    color: $purple;
  }
}

.popups {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 73px 5px 0;
  z-index: 99999;
  overflow: scroll;
  .popups-fade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.75);
  }
  .popup-close {
    position: absolute;
    top: 25px;
    right: 50%;
    margin-right: -12px;
    width: 24px;
    height: 24px;
    // background: red;
    // content: "";
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  .popup-one {
    background: white;
  }
  .nd-cleaned {
    padding: 0 15px;
  }
  .comments-count {
    font-weight: bold;
    font-size: 14px;
    color: #262626;
    line-height: 19px;
    text-transform: uppercase;
    padding-top: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    span {
      padding-bottom: 17px;
      display: inline-block;
      border-bottom: 2px solid;
      margin-bottom: -1px;
    }
  }
}
.popups-active {
  overflow: hidden;
  height: 100%;
  .popups {
    display: block;
  }
  .popups-fade {
    display: block;
  }
}
.popup-photo {
  max-width: 620px;
  margin: 0 auto;
}

.nd-switcher-wrap {
  position: relative;
  z-index: 9999;
}

.w-guide ~ .nd-switcher-wrap {
  position: relative;
  z-index: -1;
}


.nd-guided {
  position: relative;
  z-index: 999;
  .muted {
    color: rgba(255,255,255,.6);
  }
  .nd-guide {
    position: absolute;
    background: $purple;
    top: 100%;
    margin-top: 10px;
    z-index: 9999;
    // left: 10px;
    right: 10px;
    max-width: 280px;
    line-height: 23px;
    padding: 27px 19px 20px;
    color: white;
    /* BG: */
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    /* Turn on the Cleaner: */
    &-head {
      font-weight: bold;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 23px;
    }
    &:after {
      content: '';
      position: absolute;
      background: transparent;
      border: 6px solid transparent;
      z-index: 1000001;
      top: -12px;
      right: 13px;
      border-bottom-color: $purple;
      z-index: -2;
    }
  }
  .btn {
    background: transparent;
    margin-top: 15px;
    color: white;
    border: 1px solid rgba(255,255,255,0.40);
    border-radius: 40px;
    &:hover {
      border-color: rgba(255,255,255,1);
    }
  }
}

.nd-switcher-group {
  opacity: 0.999;
  
}
.second {
  &.nd-guide {
    margin-top: -10px !important; 
  }
}

.logo-wtext {
  display: none;
}
.instalogin {
  background: $purple;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 14px 20px 14px;
  height: 50px;
  text-transform: uppercase;
  img {
    width: 20px !important;
    margin-right: 12px;
  }
}
.landing {
  .nd-right-nav {
    margin-top: 2px;
  }
  header.header .logo-simple, header.header .logo-simple img {
    width: 58px;
  }
  h2 {
    margin-top: 38px;
  }
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
.nd-mobile-bafter {
  margin-top: 30px;
  .nd-name {
    font-weight: bold;
    font-size: 12px;
    color: rgba(37,37,37,0.40);
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 8px;
    line-height: 15px;
  }
  img {
    /* Mask: */
    box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.15);
  }
}

.nd-tablet-bafter {
  .juxtapose {
    box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.15);
  }
  position: relative;
  z-index: 99;
  .nd-names {
    margin-bottom: 3px;
  }
  .nd-name {
    font-weight: bold;
    font-size: 12px;
    color: rgba(37,37,37,0.40);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    // margin-bottom: 2px;
    &:nth-child(2) {
      float: right;
    }
  }
  
}

header.header .logo-wtext {
  width: 243px !important;
}

.nd-tablet-bafter {
  display: none;
}

.nd-benefits {
  background: white;
  padding: 70px 0 60px;
  margin-top: -20px;
  &-one {
    text-align: center;
    display: block;
    width: 100%;
    margin: 40px auto;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    img {
      width: 64px;
      margin-bottom: 15px;
    }
    .nd-head {
      font-size: 18px;
      color: #262626;
      font-weight: bold;
      line-height: 24px;
    }
    .nd-desc {
      font-size: 16px;
      line-height: 24px;
      @extend .muted;
    }
  }
}
.lessspam {
  margin-top: 60px;
}
.section {
  padding-top: 20px;
  padding-bottom: 60px;
  max-width: 100%;
  overflow-x: hidden;
}
.instalogin {
  img {
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}
.nd-clean-types {
  margin-top: 50px;
  &-one {
    border: 1px solid rgba(0,0,0,0.08);
    text-align: left;
    img {
      float: left;
      width: 45px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .nd-comment {
      overflow: hidden;
      position: relative;
    }
    .hoursago {
      position: absolute;
      right: 0px;
      top: 0px;
      display: none;
    }
    .comment {
      font-size: 20px;
      line-height: 26px;
      text-overflow: ellipsis;
      padding-right: 15px;
      a {
        word-break: break-all;
        color: #00699C;
      }
    }
    .nd-comment-block {
      padding: 20px 15px 15px;
    }
    .name {
      font-family: PTSans-Bold;
      font-weight: bold;
      font-size: 20px;
      color: #175688;
      line-height: 26px;
    }
  }
}

.nd-clean-head {
  font-weight: bold;
  font-size: 14px;
  color: #B959E4;
  letter-spacing: 2px;
  line-height: 19px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
  &.green {
    color: #65D470;
  }
  &.blue {
    color: #5BC3F9;
  }
  &.red {
    color: #E45959;
  }
}

.im-robots {
  margin-left: -20%;
  margin-right: -20%;
  margin-top: 40px;
}

.bg-purple {
  background: url(../images/p-mobile.svg), #B959E4;
  background-position: 49% 10px;
  color: white;
}

.nd-stats {
  text-align: center;
  &-one {
    display: inline-block;
    margin: 40px 50px 0;
  }
  .nd-count {
    font-size: 60px;
    font-weight: bold;
    line-height: 68px;
    letter-spacing: -2px;
  }
  .nd-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,0.50);
    letter-spacing: 2px;
    line-height: 19px;
  }
}


@media only screen and (#{$tabletMin}){
  .logo-wtext {
    display: block;
  }
  .logo-simple {
    display: none;
  }
  .nd-tablet-bafter {
    display: block;
  }
  .nd-mobile-bafter {
    display: none;
  }
  .section {
    padding-top: 35px;
  }
  .trial-expired {
    .nd-message {
    }
    #content, header, footer {
    }
    .popup-expired {
      background: white;
      display: inline-block;
      width: 620px;
      border: 1px solid rgba(0,0,0,0.08);
      margin-top: 150px;
      padding-left: 50px;
      padding-right: 50px;
      img {
      }
      .btn {
        width: auto;
        height: 54px;
        padding-left: 28px;
        padding-right: 28px;
      }
      .rounded:not(.purple) {
      }
      .exp-heading { 
        font-size: 45px;
      }
      .muted {
        font-size: 18px;
        line-height: 28px;
        margin: 30px 0;
      }
      &-wrap {
        text-align: center;
      }
    }
  }
  .main-part {
    // padding: 0 20px;
  }
  .container {
    padding: 0 20px;
  }
  header.landing .logo-wtext   {
    width: 235px !important;
    img{
      width: 235px;
    }
  }
  .nd-cleaned-one-buttons {
    display: none;
  }
  .visible-xs {
    display: none;
  } 
  .sm-full {
    display: flex;
    flex-wrap: wrap;
    .nd-tabs-control-one {
      flex-grow: 1;
      width: 30%;
    }
  }
  .hidden-xs {
    display: block;
  }
  header.header {
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 1111;
    .drop-content {
      right: -5px !important;
    }
    .hidden-xs {
      display: inline-block;
    }
  }
  .container {
    .nd-tabs-control {
      padding: 0;
    }
  }
  .nd-machinelearn-descr {
    margin-top: 0;
    .heading {
      margin-top: -2px;
    }
    .des {
      // max-height: none;
      // margin-top: 0;
    }
  }
  .nd-got-pp {
    margin: 40px 0;
    &-one {
      display: inline-block;
      vertical-align: middle;
      &:nth-last-child(1) {
        display: inline-block;
        vertical-align: middle;
        margin-left: 60px;
      }
    }
    .pp {
    }
    .nd-machinelearn-descr .heading {
    }
    a {
    }
  }
  .nd-listimages {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-around;
    justify-content: flex-start ;

    margin-left: -7px;
    margin-right: -7px;
    &-one {
      flex-grow: 1;
      width: 33%;
      max-width: 250px;
      padding:0 7px;
      .comments-count {
        left: 7px;
        right: 7px;
      }
      // margin-left: 10px;
      // margin-right: 10px;
    }
  }
  .nd-cleaned {
    &-one {
      .drop-menu {
        display: block;
        float: right;
        margin-left: 20px;
        margin-top: 5px;
      }
      .js-details {
        overflow: hidden;
        cursor: pointer;
      }
      .text {
        line-height: 24px;
      }
      .nd-roundimage-wrap {
        position: relative;
        width: 50px;
        img {
          display: block;
        }
      }
      &-details {
        .name {
        }
        .date {
        }
      }
      &-buttons {
      }
    }
    &-post {
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      bottom: -4px;
      right: -4px;
      img {
        border: 2px solid white;
        border-radius: 2px;
      }
    }
  }
  h2 {
    font-size: 42px;
    line-height: 1.1;
  }
  .plans-text {
    font-size: 18px;
    line-height: 28px;
  }
  .nd-price-blocks {
    &-one {
      &.green{
        .nd-price-blocks-bg {
          // padding: ;
          padding-left: 20px;
          padding-right: 20px;
          .btn {
          }
        }
      }
      &.blue{
        .nd-price-blocks-bg {
          .btn {
          }
        }
      }
    }
    &-name {
    }
    &-bg {
    }
    &-price {
      .currency {

      }
      .price {
      }
      .period {
      }
    }
    p {
      font-size: 18px;
      line-height: 28px;
    }
    .btn {
    }
  }
  .landing {
    h2 {
      font-size: 45px;
    }
    .plans-text {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .nd-benefits {
    text-align: center;
    margin-top: -30px;
  }
  .nd-benefits-one {
    max-width: 310px;
    display: inline-block;
    &:nth-child(2) {
      margin-left: 45px;
    }
    &:nth-child(3) {
      margin-left: 60px;
      margin-right: 60px;
    }
  }
  .lessspam {
    text-align: center;
    img {
      display: inline-block;
      width: 463px;
    }
  }
  .cleaner-digits {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .nd-clean-types-one .name, .nd-clean-types-one .comment {
    font-size: 24px;
    line-height: 32px;
  }
  .nd-clean-types-one .hoursago {
    display: block;
    @extend .muted;
    font-size: 22px;
  }
  .nd-clean-types-one img {
    width: 60px;
    margin-right: 20px;
  }
  .nd-clean-types-one .nd-comment-block {
    padding: 20px;
  }
  .im-robots {
    margin-left: -10%;
    margin-right: -10%;
    margin-top: 60px;
    margin-bottom: -90px;
  }
  .cleaner-robots {
    .plans-text {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .nd-stats {
    .nd-count {
      font-size: 80px;
      line-height: 104px;
    }
  }

}
@media only screen and (#{$desktopMin}){
  .nd-clean-types-one .nd-comment-block {
    padding: 25px;
  }
  .section {
    padding-top: 45px;
    padding-bottom: 90px;
  }
  .trial-expired {
    .nd-message {
    }
    #content, header, footer {
    }
    .popup-expired {
      img {
      }
      .btn {
      }
      .rounded:not(.purple) {
      }
      .exp-heading { 
      }
      .muted {
      }
      &-wrap {
      }
    }
  }
  .container {
    max-width: 980px; 
    margin: 0 auto;
  }
  header.header .logo {
    width: 54px;
  }

  .sidebar {
    width: 280px;
    margin-right: 20px;
    position: fixed;
    top: 80px;
    bottom: 60px;
    // overflow: scroll;
    z-index: 999;
  }
  .nd-machinelearn-descr {
    margin-top: 8px;
    .heading {
      margin-top: -2px;
    }
    .des {
      // max-height: none;
      // margin-top: 0;
    }
  }
  .nd-listimages {
    // margin-left: -11px;
    // margin-right: -11px;
  }

  .popups {
    .popup-close {
      right: 25px;
      top: 25px;
      margin-right: 0;
    }
  }
  .nd-tabs-content {
    .container {
      padding: 0 25px;
    }
  }
  .gridwrap {
    display: flex;
    flex-flow: row;
    min-height: 100%;
    & > * {
      // flex: 1 100%;
    }
    padding: 0 20px;
    position: relative;
    max-width: 980px;
    margin: 0 auto;
  }
  .nd-tabs-control {
    padding: 0 25px;
  }
  .main-part {
      flex: 2.5 0px;
      margin-left: 300px;
      margin-top: 80px;
      border: 1px solid rgba(0,0,0,0.08);
      border-top: 0;
      &.fullwidth {
        margin-left: 0;
        border: none;
      }
  }
  .height-scroll {
    // overflow: scroll;
    max-height: 100%;
  }
  .sm-full {
    position: fixed;
    // width: #{calc(100% - 362px)};
    width: 638px;
    z-index: 99;
    background: white;
    &:after {
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.08);
      content: "";
      margin-top: -1px;
    }
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #F7F7F7;
    // padding-bottom: 20px;
    height: 80px;
    .container {
      padding: 0 30px;
    }
    // position: relative;
    .logo {
      left: 0%;
      position: relative;
      // position: absolute;
      // transform: translateX(-50%);
    }
    &.unfixed {
      position: static;
    }
  }
  .nd-right-nav {
    margin-top: 12px;
  }
  footer.footer {
    position: fixed;
    left: 50%;
    margin-left: -470px;
    bottom: 0px;
    width: 280px;
    text-align: left;
    .container {
      padding: 0;
    }
    &.normal-footer {
      position: static;
    }

  }
  .nd-listimages {
    margin-left: -10px;
    margin-right: -10px;
    &-one {
      padding: 0 10px;
      .comments-count {
        left: 10px;
        right: 10px;
      }
    }
    &:before, &:after {
      display: none;
    }
  }
  .footer-el {
    &:last-child {
      float: right;
    }
  }
  .nd-got-pp{
    .nd-machinelearn-descr {
      margin-top: 0;
    }
  }
  .desktop-margintop {
    margin-top: 60px;
  }
  html,body {
    height: 100%;
  }
  .footer-el {
    &:nth-last-child(2) {
      &:after {
        content: "";
        display: none;
      }
    }
    &:last-child {
      margin-left: 16px;
    }
  }
  .nd-machinelearn + div {
    transition: transform 0.3s;
    transform-origin: bottom;
  }
  .nd-machinelearn.active + div {
    transform: scale(0)
  }
  #tooltip {
    position: absolute;
    background: rgba(38,38,38,0.75);
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 14px;
    line-height: 20px;
  }
  .bg-purple {
    padding-bottom: 90px;
    padding-top: 40px;
  }
  .nd-tabs-control-one {
    &:hover {
      .icon {
        filter: saturate(1);
        opacity: 1;
      }
      span {
        color: $purple;
      }
    }
  }
  .nd-cleaned {
    &-one {
      &-details {
        overflow: visible;
        padding-left: 65px;
      }
    }
  }
  .nd-price-blocks {
    margin-left: -15px;
    margin-right: -15px;
    &-one {
      width: 33.333%;
      float: left;
      padding: 15px;
      &:first-child {
        // padding-left: 0;
      }
      &:last-child {
        // padding-right: 0;
      }
      &.green{
        .nd-price-blocks-bg {
          .btn {
          }
        }
      }
      &.blue{
        .nd-price-blocks-bg {
          .btn {
          }
        }
      }
    }
    &-name {
    }
    &-bg {
    }
    &-price {
      .currency {

      }
      .price {
      }
      .period {
      }
    }
    p {

    }
    .btn {
    }
  }
  .popup-photo {
    width: 940px;
    max-width: 940px;
    @extend .cf;
    img {
      display: block;
    }
    .popup-image, .nd-cleaned {
      float: left;
      width: 50%;
      height: 470px;
    }
    .nd-cleaned {
      padding: 0 20px;
      overflow: scroll;
      max-height: 100%;
    }
  }
  .nd-guided {
    position: relative;
    z-index: 999;
    .muted {
      color: rgba(255,255,255,.6);
    }
    .nd-guide {
      right: auto;
      left: 295px;
      z-index: 9999;
      width: 300px;
      top: 10px;
      margin-top: 0;
      &:after {
        content: '';
        position: absolute;
        background: transparent;
        border: 6px solid transparent;
        z-index: 1000001;
        right: 100%;
        top: 13px;
        border-right-color: $purple;
        // z-index: -2;
      }
      &.second {
        top: 20px
      }
    }
  }
  .cleaner-digits {
    .tcenter {
      float: left;
      width: 380px;
      text-align: left;
      margin-top: 90px;
    }
    h2 {
      font-size: 45px;
      margin-bottom: 30px;
    }
    .plans-text {
      font-size: 18px;
      margin: 30px 0;
    }
    .lessspam img {
      width: 463px;
      float: right;
    }
  }
  .nd-cleantype-group {
    width: 50%;
    float: left;
    &:nth-child(2n){
      padding-left: 20px;
    }
    &:nth-child(2n-1){
      padding-right: 20px;
      clear: left;
    }
  }
  .nd-clean-types {
    margin-top: 30px;
    overflow: hidden;
  }
  
  .nd-clean-head {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .cleaner-robots {
    .im-robots {
      margin: 0;
      float: right;
      width: 831px;
      margin-right: 100px;
      margin-left: -375px;
      margin-top: 30px;
    }
    .tcenter {
      float: right;
      text-align: left;
      width: 380px;
      margin-top: 95px;
    }
  }

  .landing {
    .footer {
      margin: 0;
      width: 100%;
      text-align: center;
      .footer-el:last-child {
        float: none;
        margin-left: 0
      }
      .footer-el:nth-last-child(2):after {
        content: "\2022";
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
  .nd-gift {
    padding-bottom: 90px;
  }
  
}
@media only screen and (#{$largeMin}){
  .container {
    max-width: 1140px; 
    margin: 0 auto;
  }
   .cleaner-robots {
    .im-robots {
      margin-right: 140px;
    }
  }
  .nd-listimages {
    margin-left: -10px;
    margin-right: -10px;
    &-one {
      padding: 0 7px;
    }
    .comments-count {
      left: 7px;
      right: 7px;
    }
  }
  .nd-benefits-one {
    margin-top: 60px;
  }
  .nd-guided .nd-guide {
    right: auto;
    left: 315px;
  }
  .nd-benefits-one {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 300px;
  }
  .nd-benefits-one:nth-child(2){
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
  footer.footer {
    margin-left: -560px;
    width: 300px;
  }
  .sidebar {
    width: 300px;
  }
  .container {
    max-width: 1160px; 
    margin: 0 auto;
  }
  .nd-listimages-one {
    // width: 24%;
  }
  .main-part {
    margin-left: 320px;
  }
  .gridwrap {
    max-width: 1160px;
  }
  .sm-full {
    width: 798px;
  }
  .popup-photo {
    width: 1100px;
    max-width: 1100px;
    .popup-image, .nd-cleaned {
      height: 550px;
    }
  }
  .nd-clean-types-one .name, .nd-clean-types-one .comment {
    font-size: 30px;
    line-height: 39px;
  }
  .nd-clean-types-one .hoursago {
    display: block;
    @extend .muted;
    font-size: 26px;
  }
  .cleaner-digits {
    .tcenter {
      margin-top: 130px;
    }
    .lessspam img {
      width: 544px;
      float: right;
    }
  }
  .nd-stats {
    &-one {
      width: 20%;
    }
    .nd-count {
      font-size: 100px;
      line-height: 130px;
      letter-spacing: -3px;
    }
  }
}
.drop-trigger {
  & > .btn {
    margin-bottom: 0 !important;
  }
}
.popups {
  display: none;
}
.popup-one {
  display: none;
  &.active {
    display: block;
  }
}
@keyframes saturate {
  0%,  { filter: saturate(0); }
  100% { filter: saturate(1); }
}
@keyframes saturateback {
  0%,  { filter: saturate(1); }
  100% { filter: saturate(0); }
}

.magictime {
-webkit-animation-duration: 0.3s;
-moz-animation-duration: 0.3s;
-o-animation-duration: 0.3s;
animation-duration: 0.3s;
}

.vanishIn {
  -webkit-animation-name: vanishIn;
  animation-name: vanishIn;
}
.vanishOut {
  -webkit-animation-name: vanishOut;
  animation-name: vanishOut;
}

@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    // transform: scale(2, 2);
    transform: translateY(300px);
    -webkit-filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    // transform: scale(1, 1);
    transform: translateY(0px);
    -webkit-filter: blur(0px);
  }
}

@keyframes vanishOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    // transform: scale(1, 1);
    -webkit-filter: blur(0px);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    // transform: scale(2, 2);
    transform: translateY(300px);
    -webkit-filter: blur(20px);
  }
}


.container .container {
  padding: 0 15px ;
}

.drop-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}


.nd-cleaned-post, .nd-listimages-one {
  cursor: pointer;
}
.email-input-wrap {
  position: relative;
  input:invalid + input{
    display: none;
  }
  .submit {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 24px;
    padding: 0;
    height: 24px;
    display: inline-block;
    content: "";
    vertical-align: middle;
    background-image: url(../images/sprite-purple.svg);
    background-position: center -24*9*1px; 
    border: none;
    font-size: 0;
    transform: rotate(-90deg);
  }
}

.nd-message {
  /* Rectangle 1134: */
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.12);
  font-size: 16px;
  color: #262626;
  line-height: 20px;
  padding: 17px 21px 13px;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 10000;
    min-width: 280px;
  a {
    color: $purple;
    font-size: 14px;
    font-weight: bold;
  }
}

.red {
  color: #E45959;
}

.plans-text {
  a {
    color: #B959E4;
  }
}

.nd-gift {
  .lessspam {
    text-align: center;
    img {
      display: inline-block;
    }
  }
}