	!!! 5
%html
  %head
  %title Title
  %meta(charset="utf-8")
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  %link(rel="stylesheet" href="css/base.css")
  %link(rel="stylesheet" href="css/style.css")
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext,latin-ext,latin' rel='stylesheet' type='text/css'>
  %body.bg-white
    %header.header.unfixed.landing
      .container
        .logo.logo-wtext
          %img(src="images/logo-text.svg")
        .nd-right-nav
          .one
            .btn.instalogin Login
    #content
        


    
    .container
      %footer.footer.normal-footer
        .footer-el
          %a(href="#") About
        .footer-el
          %a(href="#") Contacts
        .footer-el
          %a(href="#") FAQ
        




  %script(src="//code.jquery.com/jquery-1.11.2.min.js")
  %script(src="js/plugins.min.js")
  %script(src="js/script.js")